##################################################
#   Git will ignore files the match these patterns
#   https://git-scm.com/docs/gitignore
##################################################

bld/
bin/
obj/
